@charset "UTF-8";

.title{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.tbl{
	border : black double 3px;
	border-spacing: 0px;
	border-collapse: collapse;
	width: 80%;
	margin: 0 auto;
}

.tbl_tr_1{
	border : black solid 1px;
	border-spacing: 0px;
	border-collapse: collapse;
	background-color: #c798f1;
}

.tbl_tr_2{
	text-align: center;
	border : black solid 1px;
	border-spacing: 0px;
	border-collapse: collapse;
	background-color: #ebdbf9;
}

.tbl_tr_3{
	text-align: center;
	border : black solid 1px;
	border-spacing: 0px;
	border-collapse: collapse;
	background-color: #f3e9fc;
}

.tbl_tr_4{
	text-align: center;
	border : black solid 1px;
	border-spacing: 0px;
	border-collapse: collapse;
	background-color: #ebdbf9;
}

.tbl_tr_5{
	text-align: center;
	border : black solid 1px;
	border-spacing: 0px;
	border-collapse: collapse;
	background-color: #f3e9fc;
}
div{
	display:inline-block;
	margin-top: 20px;
	margin-left: 500px;
}
.page{
	margin-left:550px;
	list-style:none;
	float:left;
	display:inline;
}

.num{
	float:left;
	margin-left: auto;
    margin-right: auto;
}
.fo{
	float:left;
	padding:4px;
	margin-right:3px;
	width:40px;
	color:#000;
	font:bold 12px tahoma;
	border:1px solid #eee;
	text-align:center;
	text-decoration:none;
}
.fo:hover, .fo:focus {
	color:#fff;
	border:1px solid #f40;
	background-color:#f40;
}