@charset "UTF-8";
.title{
	margin: 0 auto;
	text-align: center;
}

table{
	width: 60%;
	margin: 0 auto;
	border-collapse: collapse;
	border: orange 3px double;
}

.th{
	border: orange 1px solid;
	border-spacing: 0px;
	border-collapse: collapse;
	background-color: #ffddbb;
}

td{
	text-align: center;
	border: orange 1px solid;
}

.tbl_tr:hover {
	background-color: #dfdfdf;
	cursor: pointer;
}