@charset "UTF-8";

.tbl { 
	border-collapse: separate; 
	border-spacing: 1px; 
	text-align: center; 
	line-height: 1.5; 
	margin: 20px 10px;
}

.tbl_th { 
	width: 155px; 
	padding: 10px; 
	font-weight: bold; 
	vertical-align: top; 
	color: #fff; 
	background: #a64dff;
}

.tbl_td { 
	width: 155px; 
	padding: 10px; 
	vertical-align: top; 
	border-bottom: 1px solid #ccc; 
	background: #eeddff;
}
	
.button1{
	margin-left: 10px;
}	

.button2{
	float: left;
	margin-left: 200px;
}	
	